// SPDX-License-Identifier: BSD-3-Clause
/*
 * Based on:
 % - sc8180x-primus.dts
 % - sc8180x-lenovo-flex-5g.dts
 */

/dts-v1/;

#include <dt-bindings/firmware/qcom,scm.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>
#include <dt-bindings/soc/qcom,apr.h>
#include <dt-bindings/sound/qcom,q6afe.h>
#include <dt-bindings/sound/qcom,q6asm.h>
#include "sc8180x.dtsi"
#include "sc8180x-pmics.dtsi"

/ {
	model = "Xiaomi Book 12.4";
	compatible = "xiaomi,book-12.4", "qcom,sc8180x";

	aliases {
		serial0 = &uart13;
	};

	sound: sound {
		compatible = "qcom,sdm845-sndcard";
		model = "Xiaomi Book 12.4";

		audio-routing =
			"RX_BIAS", "MCLK",
			"AMIC2", "MIC BIAS2";

		mm1-dai-link {
			link-name = "MultiMedia1";

			cpu {
				sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA1>;
			};
		};

		mm2-dai-link {
			link-name = "MultiMedia2";

			cpu {
				sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA2>;
			};
		};

		mm3-dai-link {
			link-name = "MultiMedia3";

			cpu {
				sound-dai = <&q6asmdai MSM_FRONTEND_DAI_MULTIMEDIA3>;
			};
		};

		slim-dai-link {
			link-name = "SLIM Playback";

			cpu {
				sound-dai = <&q6afedai SLIMBUS_0_RX>;
			};

			platform {
				sound-dai = <&q6routing>;
			};

			codec {
				sound-dai = <&wcd9340 0>;
			};
		};

		slimcap-dai-link {
			link-name = "SLIM Capture";

			cpu {
				sound-dai = <&q6afedai SLIMBUS_0_TX>;
			};

			platform {
				sound-dai = <&q6routing>;
			};

			codec {
				sound-dai = <&wcd9340 1>;
			};
		};

		slim-wcd-dai-link {
			link-name = "SLIM WCD Playback";

			cpu {
				sound-dai = <&q6afedai SLIMBUS_1_RX>;
			};

			platform {
				sound-dai = <&q6routing>;
			};

			codec {
				sound-dai = <&wcd9340 2>;
			};
		};
	};

/*
	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

        // From UEFI Memory Map
        // 0x80600000, 0x02400000, "Display Reserved",  AddMem, MEM_RES, SYS_MEM_CAP, Reserv, WRITE_THROUGH_XN
		framebuffer0: framebuffer@80600000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x80600000 0x0 0x02400000>;
			width = <1600>;
			height = <2560>;
			stride = <(1600 * 4)>;
			format = "a8r8g8b8";
		};
	};
*/

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-0 = <&hall_int_active_state>;
		pinctrl-names = "default";

		lid-switch {
			gpios = <&tlmm 121 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_LID>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_DEASSERTED>;
		};
	};

	pmic-glink {
		compatible = "qcom,sc8180x-pmic-glink", "qcom,pmic-glink";

		#address-cells = <1>;
		#size-cells = <0>;
		orientation-gpios = <&tlmm 38 GPIO_ACTIVE_HIGH>,
				    <&tlmm 58 GPIO_ACTIVE_HIGH>;

		connector@0 {
			compatible = "usb-c-connector";
			reg = <0>;
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					pmic_glink_con0_hs: endpoint {
						remote-endpoint = <&usb_prim_dwc3_hs>;
					};
				};

				port@1 {
					reg = <1>;

					pmic_glink_con0_ss: endpoint {
						remote-endpoint = <&usb_prim_qmpphy_out>;
					};
				};

				port@2 {
					reg = <2>;

					pmic_glink_con0_sbu: endpoint {
						remote-endpoint = <&usbprim_sbu_mux>;
					};
				};
			};
		};

		connector@1 {
			compatible = "usb-c-connector";
			reg = <1>;
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;

					pmic_glink_con1_hs: endpoint {
						remote-endpoint = <&usb_sec_dwc3_hs>;
					};
				};

				port@1 {
					reg = <1>;

					pmic_glink_con1_ss: endpoint {
						remote-endpoint = <&usb_sec_qmpphy_out>;
					};
				};

				port@2 {
					reg = <2>;

					pmic_glink_con1_sbu: endpoint {
						remote-endpoint = <&usbsec_sbu_mux>;
					};
				};
			};
		};
	};

	lcdb_dummy: regulator-lcdb-dummy {
		compatible = "regulator-fixed";
		regulator-name = "lcdb_dummy";
		regulator-min-microvolt = <5500000>;
		regulator-max-microvolt = <5500000>;
	};

	reserved-memory {
		// Based on Windows Memory Map
		// 0x85d00000 ++ 0x200000     RMTFS
		// 0x8b700000 ++ 0x500000     CAMERA
		// 0x8bc00000 ++ 0x180000     WLAN
		// 0x8d800000 ++ 0x3000000    MPSS
		// 0x90800000 ++ 0x1c00000    ADSP
		// 0x92400000 ++ 0x800000     CDSP
		// 0x92c00000 ++ 0x1400000    SPSS/SLPI
		// 0x94000000 ++ 0x5000       GPU
		// 0x9a500000 ++ 0x600000     QSM

		// USE REGION: MPSS_EFS (FULL)
		rmtfs_mem: rmtfs-region@85500000 {
			compatible = "qcom,rmtfs-mem";
			reg = <0x0 0x85500000 0x0 0x200000>;
			no-map;

			qcom,client-id = <1>;
			qcom,vmid = <QCOM_SCM_VMID_MSS_MSA>;
		};

		wlan_mem: wlan-region@8bc00000 {
			reg = <0x0 0x8bc00000 0x0 0x180000>;
			no-map;
		};

		mpss_mem: mpss-region@8d800000 {
			reg = <0x0 0x8d800000 0x0 0x3000000>;
			no-map;
		};

		adsp_mem: adsp-region@90800000 {
			reg = <0x0 0x90800000 0x0 0x1c00000>;
			no-map;
		};

		cdsp_mem: cdsp-region@92400000 {
			reg = <0x0 0x92400000 0x0 0x800000>;
			no-map;
		};

		gpu_mem: gpu-region@94000000 {
			reg = <0x0 0x94000000 0x0 0x5000>;
			no-map;
		};
	};

	vph_pwr: vph-pwr-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vph_pwr";
		regulator-min-microvolt = <3700000>;
		regulator-max-microvolt = <3700000>;
	};

	vreg_s4a_1p8: pm8150-s4-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vreg_s4a_1p8";

		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		regulator-always-on;
		regulator-boot-on;

		vin-supply = <&vph_pwr>;
	};

	refgen: regulator-refgen {
		compatible = "regulator-fixed";
		regulator-name = "refgen";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;

		vin-supply = <&vreg_l3c_1p2>;
	};

	vreg_nvme_3p3: regulator-nvme-3p3 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_nvme_3p3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&pmc8180c_gpios 11 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		regulator-boot-on;
	};

	usbprim-sbu-mux {
		compatible = "pericom,pi3usb102", "gpio-sbu-mux";

		enable-gpios = <&tlmm 152 GPIO_ACTIVE_LOW>;
		select-gpios = <&tlmm 100 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&usbprim_sbu_default>;

		mode-switch;
		orientation-switch;

		port {
			usbprim_sbu_mux: endpoint {
				remote-endpoint = <&pmic_glink_con0_sbu>;
			};
		};
	};

	usbsec-sbu-mux {
		compatible = "pericom,pi3usb102", "gpio-sbu-mux";

		enable-gpios = <&tlmm 188 GPIO_ACTIVE_LOW>;
		select-gpios = <&tlmm 187 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&usbsec_sbu_default>;

		mode-switch;
		orientation-switch;

		port {
			usbsec_sbu_mux: endpoint {
				remote-endpoint = <&pmic_glink_con1_sbu>;
			};
		};
	};
};

&spmi_bus {
	pmic@a {
        status = "disabled";
    };
};

&apps_rsc {
	regulators-0 {
		compatible = "qcom,pmc8180-rpmh-regulators";
		qcom,pmic-id = "a";

		vdd-s5-supply = <&vph_pwr>;
		vdd-l7-l12-l14-l15-supply = <&vreg_s5a_2p0>;

		vreg_s5a_2p0: smps5 {
			regulator-min-microvolt = <2040000>;
			regulator-max-microvolt = <2100000>;
		};

		vreg_l7a_1p8: ldo7 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l9a_1p3: ldo9 {
			regulator-min-microvolt = <1296000>;
			regulator-max-microvolt = <1304000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l12a_1p8: ldo12 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-1 {
		compatible = "qcom,pmc8180c-rpmh-regulators";
		qcom,pmic-id = "c";

		vdd-s6-supply = <&vph_pwr>;
		vdd-l2-l3-supply = <&vreg_s6c_1p35>;
		vdd-l4-l5-l6-supply = <&vreg_bob>;
		vdd-bob-supply = <&vph_pwr>;

		vreg_s6c_1p35: smps6 {
			regulator-min-microvolt = <1350000>;
			regulator-max-microvolt = <1372000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l1c_1p8: ldo1 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l3c_1p2: ldo3 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l4c_3p3: ldo4 {
			regulator-min-microvolt = <3008000>;
			regulator-max-microvolt = <3008000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l6c_1p8_2p95: ldo6 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2950000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
		};

		vreg_l10c_3p3: ldo10 {
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3312000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l11c_3p3: ldo11 {
			regulator-min-microvolt = <3296000>;
			regulator-max-microvolt = <3304000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_bob: bob {
			regulator-min-microvolt = <3296000>;
			regulator-max-microvolt = <3350000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-2 {
		compatible = "qcom,pmc8180-rpmh-regulators";
		qcom,pmic-id = "e";

		vdd-s4-supply = <&vph_pwr>;
		vdd-s5-supply = <&vph_pwr>;
		vdd-l2-l10-supply = <&vreg_bob>;
		vdd-l3-l4-l5-l18-supply = <&vreg_s4e_0p98>;
		vdd-l7-l12-l14-l15-supply = <&vreg_s5e_2p05>;
		vdd-l13-l16-l17-supply = <&vreg_bob>;

		vreg_s4e_0p98: smps4 {
			regulator-min-microvolt = <992000>;
			regulator-max-microvolt = <992000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_s5e_2p05: smps5 {
			regulator-min-microvolt = <2040000>;
			regulator-max-microvolt = <2040000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l1e_0p75: ldo1 {
			regulator-min-microvolt = <752000>;
			regulator-max-microvolt = <752000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l5e_0p88: ldo5 {
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <880000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l7e_1p8: ldo7 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
		};

		vreg_l10e_2p9: ldo10 {
			regulator-min-microvolt = <2904000>;
			regulator-max-microvolt = <2904000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
		};

		vreg_l12e_1p8: ldo12 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l14e_1p8: ldo14 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;

			regulator-boot-on;
			regulator-always-on;
		};

		vreg_l16e_3p0: ldo16 {
			regulator-min-microvolt = <3072000>;
			regulator-max-microvolt = <3072000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l17e_2p96: ldo17 {
			regulator-min-microvolt = <2960000>;
			regulator-max-microvolt = <2960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
		};
	};
};

&gpu {
	status = "okay";

	zap-shader {
		memory-region = <&gpu_mem>;
		firmware-name = "qcom/XIAOMI/BOOK124/qcdxkmsuc8180.mbn";
	};
};

/*
 * Windows exposes the touchscreen bus as \_SB.I2C2, but its MMIO base is
 * 0x00884000, which maps to Linux's &i2c1 / QUP0 SE1.
 */
&i2c1 {
	clock-frequency = <400000>;

	pinctrl-0 = <&i2c1_active>;
	pinctrl-names = "default";

	status = "okay";

	touchscreen@4f {
		compatible = "hid-over-i2c";
		reg = <0x4f>;

		hid-descr-addr = <0x1>;
		vdd-supply = <&vreg_l4c_3p3>;
		vddl-supply = <&vreg_l12e_1p8>;
		post-power-on-delay-ms = <200>;

		interrupts-extended = <&tlmm 122 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-0 = <&ts_irq_active>;
		pinctrl-names = "default";
	};
};

&i2c7 {
	clock-frequency = <1000000>;

	pinctrl-0 = <&i2c7_active>;
	pinctrl-names = "default";

	status = "okay";

    // Charger
    // Device (SXB), Method _CRS
    // No driver is provided for this device currently
    /*
    txra9530@3b {
        compatible = "wingtech,txra9530";
        reg = <0x3b>;

        interrupt-parent = <&tlmm>;
        interrupts-extended = <&tlmm 101 IRQ_TYPE_LEVEL_LOW>,
                             <&tlmm 189 IRQ_TYPE_EDGE_LOW>,
                             <&tlmm 97 IRQ_TYPE_EDGE_LOW>;

        gpios = <&tlmm 11 GPIO_ACTIVE_LOW>,
                <&tlmm 186 GPIO_ACTIVE_LOW>;

        pinctrl-0 = <&txra9530_int_default>;
        pinctrl-names = "default";

        status = "okay";
    };
    */
};

/*
 * Windows exposes this bus as \_SB.SPI4, but its MMIO base is 0x0088c000,
 * which maps to Linux's &spi3 / QUP0 SE3. The AUDD audio device is attached
 * to chip select 0 on this bus.
 *
 * Windows DSDT resources for \_SB.ADSP.SLM1.ADCM.AUDD:
 * - GpioIo  \_SB.GIO0 pin 0x008f (143), initial value 0 in qcauddev8180.inf
 * - GpioInt \_SB.GIO0 pin 0x0100, Edge/ActiveHigh/PullDown
 * - SPI4 CS0, 8-bit, mode 0, 24 MHz
 * - child devices AUDD\QCOM0437 (MBHC) and AUDD\QCOM042C (audio adapter)
 *
 * Windows allocates the GpioInt through ACPI\QCOM040D/qcgpio/GPIOClx as
 * ADCM IRQ1055 (ADCM AllocConfig contains 0x041f). This is not a verified
 * Linux TLMM/PDC GPIO number, so do not model it as a guessed &tlmm IRQ.
 *
 * QCOM040D's ACPI resources describe the normal TLMM interrupt plus several
 * PDC-backed parent interrupts. Subtracting the GIC SPI offset gives:
 * - GSI 0x0f0 -> GIC_SPI 208, the TLMM summary interrupt
 * - GSI 0x249 -> GIC_SPI 553, PDC 73
 * - GSI 0x25b -> GIC_SPI 571, PDC 91, GPIO123 in Linux's wakeirq map
 * - GSI 0x259 -> GIC_SPI 569, PDC 89, GPIO121 in Linux's wakeirq map
 * - GSI 0x22c -> GIC_SPI 524, PDC 44, GPIO37 in Linux's wakeirq map
 * - GSI 0x24e -> GIC_SPI 558, PDC 78, GPIO104 in Linux's wakeirq map
 * - GSI 0x292 -> GIC_SPI 626, PDC 111, GPIO177 in Linux's wakeirq map
 * - GSI 0x293 -> GIC_SPI 627, PDC 112, GPIO180 in Linux's wakeirq map
 *
 * The GIO0 _AEI method uses GpioInt 0x0140 for lid events but reads the
 * actual lid state from GpioIo 0x0079 (GPIO121). That proves at least some
 * 0x0100+ GIO0 numbers are qcgpio/GPIOClx event IDs, not raw TLMM pins.
 * The AUDD 0x0100 event therefore needs a real qcgpio/PDC mapping before it
 * can safely be used as the WCD9340 parent interrupt.
 *
 * MBHC has a separate GpioIo \_SB.GIO0 pin 0x0038 (56), PullUp/OutputOnly.
 *
 * The Lenovo Flex 5G SC8180X DT models the same WCD9340 family with GPIO143
 * as reset and GPIO123 as the parent IRQ. For this experiment, keep AUDD as a
 * passive Windows-topology diagnostic node and let WCD9340 own GPIO143.
 */
&spi3 {
	pinctrl-0 = <&spi3_active>;
	pinctrl-names = "default";

	status = "okay";

	audd@0 {
		compatible = "qcom,sc8180x-xiaomi-audd";
		reg = <0>;
		spi-max-frequency = <24000000>;

		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-0 = <&audd_mbhc_gpio_state>;
		pinctrl-names = "default";

		mbhc-gpios = <&tlmm 56 GPIO_ACTIVE_HIGH>;

		/*
		 * Manual diagnostics only. These are the PDC-backed parent IRQ
		 * resources exposed by Windows for QCOM040D/qcgpio. They are
		 * candidates for locating AUDD GpioInt 0x0100, not production
		 * wiring for WCD9340.
		 */
		interrupts-extended = <&pdc 91 IRQ_TYPE_EDGE_RISING>,
				      <&pdc 44 IRQ_TYPE_EDGE_RISING>,
				      <&pdc 78 IRQ_TYPE_EDGE_RISING>,
				      <&pdc 111 IRQ_TYPE_EDGE_RISING>,
				      <&pdc 112 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "qcgpio-gsi25b-pdc91",
				  "qcgpio-gsi22c-pdc44",
				  "qcgpio-gsi24e-pdc78",
				  "qcgpio-gsi292-pdc111",
				  "qcgpio-gsi293-pdc112";

		/*
		 * Windows CHLD() exposes two logical AUDD children:
		 * - AUDD\QCOM0437: MBHC
		 * - AUDD\QCOM042C: audio adapter
		 *
		 * Keep them passive for now. The diagnostic AUDD driver only
		 * populates these devices so that the Linux enumeration can be
		 * compared with Windows without touching the SPI transport.
		 */
		mbhc@0 {
			compatible = "qcom,sc8180x-xiaomi-audd-mbhc";
			reg = <0>;
			qcom,windows-hid = "AUDD\\QCOM0437";
		};

		audio-adapter@1 {
			compatible = "qcom,sc8180x-xiaomi-audd-adapter";
			reg = <1>;
			qcom,windows-hid = "AUDD\\QCOM042C";
		};
	};
};

// From PNC357DB1.xml
// FIXME: Due to PEP0 defination, device is using PMIC-WLED
// 		  backlight, need to confirm the configuration.
// FIXME: The units may be wrong. Need to be verified
&pmc8180c_wled {
    qcom,switching-freq = <1920>;
    // From PNC357DB1-4 Datasheet:
    // LED Light Bar Power Supply Current: {
    //     "Symbol": "LED_K(1-8)",
    //     "Value": { "Typ": 140 },
    //     "Unit": "mA"
    // }
    qcom,num-strings = <2>;
    qcom,current-limit-microamp = <17500>;
    qcom,cabc;

    status = "okay";
};

&mdss {
	status = "okay";
};

&mdss_dsi0 {
	status = "okay";
	vdda-supply = <&vreg_l3c_1p2>;
	refgen-supply = <&refgen>;

	panel@0 {
		compatible = "csot,pnc357db1-4";
		reg = <0>;
		vddi-supply = <&vreg_l12a_1p8>;
		vdd1-supply = <&vreg_l1c_1p8>;
		vdd-supply = <&vreg_l12a_1p8>;

		backlight = <&pmc8180c_wled>;
		reset-gpios = <&tlmm 116 GPIO_ACTIVE_LOW>;
		enable-gpios = <&tlmm 6 GPIO_ACTIVE_HIGH>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				panel_in0: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};
		};
	};
};

&mdss_dsi0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&panel_in0>;
};

&mdss_dsi0_phy {
	status = "okay";
	vdds-supply = <&vreg_l5e_0p88>;
};

// Device don't support eDP
&edp_phy {
	status = "disabled";
};

// Both PCIE2 and PCIE3 is dectected on Windows,
// Lets enable them.

// FIXME: Unknown Pin for PCIE2
&pcie2 {
	interrupts = <GIC_SPI 672 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 671 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 670 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 669 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 668 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 667 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 666 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 665 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-names = "msi0",
			  "msi1",
			  "msi2",
			  "msi3",
			  "msi4",
			  "msi5",
			  "msi6",
			  "msi7";

	perst-gpios = <&tlmm 102 GPIO_ACTIVE_LOW>;

	//wake-gpios = <&tlmm 104 GPIO_ACTIVE_HIGH>;

	vddpe-3v3-supply = <&vreg_nvme_3p3>;

	num-lanes = <2>;

	pinctrl-names = "default";
	pinctrl-0 = <&pcie2_default_state>;

	status = "okay";

	pcie@0 {
		reset-gpios = <&tlmm 102 GPIO_ACTIVE_LOW>;
		phys = <&pcie2_phy>;
	};
};

&pcie2_phy {
	vdda-phy-supply = <&vreg_l5e_0p88>;
	vdda-pll-supply = <&vreg_l3c_1p2>;

	status = "okay";
};

&pmc8180c_lpg {
	status = "okay";
};

&qupv3_id_0 {
	status = "okay";
};

&qupv3_id_1 {
	status = "okay";
};

&qupv3_id_2 {
	status = "okay";
};

&remoteproc_adsp {
	memory-region = <&adsp_mem>;
	firmware-name = "qcom/XIAOMI/BOOK124/qcadsp8180.mbn";

	status = "okay";
};

&remoteproc_adsp_glink {
	apr {
		compatible = "qcom,apr-v2";
		qcom,domain = <APR_DOMAIN_ADSP>;
		qcom,glink-channels = "apr_audio_svc";
		qcom,intents = <512 20>;
		#address-cells = <1>;
		#size-cells = <0>;

		service@3 {
			compatible = "qcom,q6core";
			reg = <APR_SVC_ADSP_CORE>;
			qcom,protection-domain = "avs/audio", "msm/adsp/audio_pd";
		};

		q6afe: service@4 {
			compatible = "qcom,q6afe";
			reg = <APR_SVC_AFE>;
			qcom,protection-domain = "avs/audio", "msm/adsp/audio_pd";

			q6afedai: dais {
				compatible = "qcom,q6afe-dais";
				#address-cells = <1>;
				#size-cells = <0>;
				#sound-dai-cells = <1>;
			};
		};

		q6asm: service@7 {
			compatible = "qcom,q6asm";
			reg = <APR_SVC_ASM>;
			qcom,protection-domain = "avs/audio", "msm/adsp/audio_pd";

			q6asmdai: dais {
				compatible = "qcom,q6asm-dais";
				iommus = <&apps_smmu 0x1b21 0x0>;
				#address-cells = <1>;
				#size-cells = <0>;
				#sound-dai-cells = <1>;

				dai@0 {
					reg = <MSM_FRONTEND_DAI_MULTIMEDIA1>;
					direction = <Q6ASM_DAI_RX>;
				};

				dai@1 {
					reg = <MSM_FRONTEND_DAI_MULTIMEDIA2>;
					direction = <Q6ASM_DAI_TX>;
				};

				dai@2 {
					reg = <MSM_FRONTEND_DAI_MULTIMEDIA3>;
					direction = <Q6ASM_DAI_RX>;
				};
			};
		};

		q6adm: service@8 {
			compatible = "qcom,q6adm";
			reg = <APR_SVC_ADM>;
			qcom,protection-domain = "avs/audio", "msm/adsp/audio_pd";

			q6routing: routing {
				compatible = "qcom,q6adm-routing";
				#sound-dai-cells = <0>;
			};
		};
	};
};

&remoteproc_cdsp {
	memory-region = <&cdsp_mem>;
	firmware-name = "qcom/XIAOMI/BOOK124/qccdsp8180.mbn";

	status = "okay";
};

&remoteproc_mpss {
	memory-region = <&mpss_mem>;
	firmware-name = "qcom/XIAOMI/BOOK124/qcmpss8180_nm.mbn";

	status = "okay";
};

&soc {
	slimbam: dma-controller@17184000 {
		compatible = "qcom,bam-v1.7.4", "qcom,bam-v1.7.0";
		reg = <0x0 0x17184000 0x0 0x2a000>;
		interrupts = <GIC_SPI 164 IRQ_TYPE_LEVEL_HIGH>;
		#dma-cells = <1>;
		qcom,controlled-remotely;
		qcom,ee = <1>;
		qcom,num-ees = <4>;
		num-channels = <23>;
		iommus = <&apps_smmu 0x1b46 0x0>;
	};

	slim: slim-ngd@171c0000 {
		compatible = "qcom,slim-ngd-v2.1.0";
		reg = <0x0 0x171c0000 0x0 0x2c000>;
		interrupts = <GIC_SPI 163 IRQ_TYPE_LEVEL_HIGH>;
		dmas = <&slimbam 3>, <&slimbam 4>;
		dma-names = "rx", "tx";
		iommus = <&apps_smmu 0x1b46 0x0>;
		#address-cells = <1>;
		#size-cells = <0>;

		slim@1 {
			reg = <1>;
			#address-cells = <2>;
			#size-cells = <0>;

			wcd9340_ifd: ifd@0,0 {
				compatible = "slim217,250";
				reg = <0 0>;
			};

			wcd9340: codec@1,0 {
				compatible = "slim217,250";
				reg = <1 0>;
				slim-ifc-dev = <&wcd9340_ifd>;

				#sound-dai-cells = <1>;

				interrupts-extended = <&tlmm 123 IRQ_TYPE_LEVEL_HIGH>;
				interrupt-controller;
				#interrupt-cells = <1>;

				clock-names = "extclk";
				clocks = <&rpmhcc RPMH_LN_BB_CLK2>;

				#clock-cells = <0>;
				clock-frequency = <9600000>;
				clock-output-names = "mclk";

				pinctrl-0 = <&wcd_intr_default>, <&wcd_reset_default>;
				pinctrl-names = "default";

				reset-gpios = <&tlmm 143 GPIO_ACTIVE_HIGH>;

				vdd-buck-sido-supply = <&vreg_s4a_1p8>;
				vdd-buck-supply = <&vreg_s4a_1p8>;
				vdd-tx-supply = <&vreg_s4a_1p8>;
				vdd-rx-supply = <&vreg_s4a_1p8>;
				vdd-io-supply = <&vreg_s4a_1p8>;

				qcom,micbias1-microvolt = <1800000>;
				qcom,micbias2-microvolt = <2850000>;
				qcom,micbias3-microvolt = <2850000>;
				qcom,micbias4-microvolt = <1800000>;
				qcom,mbhc-buttons-vthreshold-microvolt = <75000 150000 237000 500000 500000 500000 500000 500000>;
				qcom,mbhc-headset-vthreshold-microvolt = <1700000>;
				qcom,mbhc-headphone-vthreshold-microvolt = <50000>;

				#address-cells = <1>;
				#size-cells = <1>;

				wcdgpio: gpio-controller@42 {
					compatible = "qcom,wcd9340-gpio";
					gpio-controller;
					#gpio-cells = <2>;
					reg = <0x42 0x2>;
				};

				swm: soundwire@c85 {
					compatible = "qcom,soundwire-v1.3.0";
					reg = <0xc85 0x40>;
					interrupts-extended = <&wcd9340 20>;

					qcom,dout-ports = <6>;
					qcom,din-ports = <2>;
					qcom,ports-sinterval-low = /bits/ 8 <0x07 0x1f 0x3f 0x07 0x1f 0x3f 0x0f 0x0f>;
					qcom,ports-offset1 = /bits/ 8 <0x01 0x02 0x0c 0x06 0x12 0x0d 0x07 0x0a>;
					qcom,ports-offset2 = /bits/ 8 <0x00 0x00 0x1f 0x00 0x00 0x1f 0x00 0x00>;

					#sound-dai-cells = <1>;
					clocks = <&wcd9340>;
					clock-names = "iface";
					#address-cells = <2>;
					#size-cells = <0>;
				};
			};
		};
	};
};

&sdhc_2 {
	cd-gpios = <&tlmm 96 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&sdc2_default_state>, <&sdc2_card_det_state>;
	pinctrl-1 = <&sdc2_sleep_state>, <&sdc2_card_det_state>;
	pinctrl-names = "default", "sleep";
	vmmc-supply = <&vreg_l17e_2p96>;
	vqmmc-supply = <&vreg_l6c_1p8_2p95>;
	no-mmc;
	no-sdio;

	status = "okay";
};

&uart13 {
	pinctrl-0 = <&uart13_state>;
	pinctrl-names = "default";

	status = "okay";

	bluetooth {
		compatible = "qcom,wcn3998-bt";

		vddio-supply = <&vreg_s4a_1p8>;
		vddxo-supply = <&vreg_l7a_1p8>;
		vddrf-supply = <&vreg_l9a_1p3>;
		vddch0-supply = <&vreg_l11c_3p3>;
		max-speed = <3200000>;
	};
};

&usb_mp {
	status = "okay";
};

&usb_mp_hsphy0 {
	vdda-pll-supply = <&vreg_l5e_0p88>;
	vdda18-supply = <&vreg_l12a_1p8>;
	vdda33-supply = <&vreg_l16e_3p0>;

	status = "okay";
};

&usb_mp_hsphy1 {
	vdda-pll-supply = <&vreg_l5e_0p88>;
	vdda18-supply = <&vreg_l12a_1p8>;
	vdda33-supply = <&vreg_l16e_3p0>;

	status = "okay";
};

&usb_mp_qmpphy0 {
	vdda-phy-supply = <&vreg_l3c_1p2>;
	vdda-pll-supply = <&vreg_l5e_0p88>;

	status = "okay";
};

&usb_mp_qmpphy1 {
	vdda-phy-supply = <&vreg_l3c_1p2>;
	vdda-pll-supply = <&vreg_l5e_0p88>;

	status = "okay";
};

&usb_prim_hsphy {
	vdda-pll-supply = <&vreg_l5e_0p88>;
	vdda18-supply = <&vreg_l12a_1p8>;
	vdda33-supply = <&vreg_l16e_3p0>;

	status = "okay";
};

&usb_prim_qmpphy {
	vdda-phy-supply = <&vreg_l3c_1p2>;
	vdda-pll-supply = <&vreg_l5e_0p88>;

	orientation-switch;

	status = "okay";
};

&usb_prim {
	status = "okay";
};

&usb_prim_dwc3 {
	dr_mode = "host";
};

&usb_prim_dwc3_hs {
	remote-endpoint = <&pmic_glink_con0_hs>;
};

&usb_prim_qmpphy_out {
	remote-endpoint = <&pmic_glink_con0_ss>;
};

&usb_sec_dwc3_hs {
	remote-endpoint = <&pmic_glink_con1_hs>;
};

&usb_sec_hsphy {
	vdda-pll-supply = <&vreg_l5e_0p88>;
	vdda18-supply = <&vreg_l12a_1p8>;
	vdda33-supply = <&vreg_l16e_3p0>;

	status = "okay";
};

&usb_sec_qmpphy {
	vdda-phy-supply = <&vreg_l3c_1p2>;
	vdda-pll-supply = <&vreg_l5e_0p88>;

	orientation-switch;

	status = "okay";
};

&usb_sec_qmpphy_out {
	remote-endpoint = <&pmic_glink_con1_ss>;
};

&usb_sec {
	status = "okay";
};

&usb_sec_dwc3 {
	dr_mode = "host";
};

&wifi {
	memory-region = <&wlan_mem>;

	vdd-0.8-cx-mx-supply = <&vreg_l1e_0p75>;
	vdd-1.8-xo-supply = <&vreg_l7a_1p8>;
	vdd-1.3-rfa-supply = <&vreg_l9a_1p3>;
	vdd-3.3-ch0-supply = <&vreg_l11c_3p3>;
	vdd-3.3-ch1-supply = <&vreg_l10c_3p3>;

	status = "okay";
};

&xo_board_clk {
	clock-frequency = <38400000>;
};

&tlmm {
	gpio-reserved-ranges = <0 4>, <47 4>, <126 4>;

	hall_int_active_state: hall-int-active-state {
		pins = "gpio121";
		function = "gpio";

		bias-disable;
	};

	i2c1_active: i2c1-active-state {
		pins = "gpio114", "gpio115";
		function = "qup1";

		bias-pull-up = <1>;
		drive-strength = <2>;
	};

	i2c2_active: i2c2-active-state {
		pins = "gpio126", "gpio127";
		function = "qup2";

		bias-pull-up;
		drive-strength = <2>;
	};

	ts_irq_active: ts-irq-active-state {
		pins = "gpio122";
		function = "gpio";

		bias-pull-up;
	};

	wcd_reset_default: wcd-reset-default-state {
		pins = "gpio143";
		function = "gpio";

		bias-disable;
		drive-strength = <2>;
	};

	audd_mbhc_gpio_state: audd-mbhc-gpio-state {
		pins = "gpio56";
		function = "gpio";

		bias-pull-up;
		drive-strength = <2>;
	};

	wcd_intr_default: wcd-intr-default-state {
		pins = "gpio123";
		function = "gpio";

		bias-pull-down;
		drive-strength = <2>;
		input-enable;
	};

	i2c7_active: i2c7-active-state {
		pins = "gpio98", "gpio99";
		function = "qup7";

		bias-pull-up;
		drive-strength = <2>;
	};

	spi3_active: spi3-active-state {
		pins = "gpio144", "gpio145", "gpio146", "gpio147";
		function = "qup3";

		bias-disable;
		drive-strength = <6>;
	};

	pcie2_default_state: pcie2-default-state {
		clkreq-pins {
			pins = "gpio176";
			function = "pci_e2";
			bias-pull-up;
		};

		reset-n-pins {
			pins = "gpio102";
			function = "gpio";

			drive-strength = <2>;
			output-low;
			bias-pull-down;
		};

		wake-n-pins {
			pins = "gpio104";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-up;
		};
	};

	pcie3_default_state: pcie3-default-state {
		clkreq-pins {
			pins = "gpio179";
			function = "pci_e3";
			bias-pull-up;
		};

		reset-n-pins {
			pins = "gpio178";
			function = "gpio";

			drive-strength = <2>;
			output-low;
			bias-pull-down;
		};

		wake-n-pins {
			pins = "gpio180";
			function = "gpio";

			drive-strength = <2>;
			bias-pull-up;
		};
	};

	sdc2_default_state: sdc2-default-state {
		clk-pins {
			pins = "sdc2_clk";
			drive-strength = <16>;
			bias-disable;
		};

		cmd-pins {
			pins = "sdc2_cmd";
			drive-strength = <16>;
			bias-pull-up;
		};

		data-pins {
			pins = "sdc2_data";
			drive-strength = <16>;
			bias-pull-up;
		};
	};

	sdc2_sleep_state: sdc2-sleep-state {
		clk-pins {
			pins = "sdc2_clk";
			drive-strength = <2>;
			bias-disable;
		};

		cmd-pins {
			pins = "sdc2_cmd";
			drive-strength = <2>;
			bias-pull-up;
		};

		data-pins {
			pins = "sdc2_data";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	sdc2_card_det_state: sdc2-card-det-state {
		pins = "gpio96";
		function = "gpio";

		drive-strength = <2>;
		bias-pull-up;
	};

	usbprim_sbu_default: usbprim-sbu-state {
		oe-n-pins {
			pins = "gpio152";
			function = "gpio";
			bias-disable;
			drive-strength = <16>;
			output-high;
		};

		sel-pins {
			pins = "gpio100";
			function = "gpio";
			bias-disable;
			drive-strength = <16>;
		};
	};

	usbsec_sbu_default: usbsec-sbu-state {
		oe-n-pins {
			pins = "gpio188";
			function = "gpio";
			bias-disable;
			drive-strength = <16>;
			output-high;
		};

		sel-pins {
			pins = "gpio187";
			function = "gpio";
			bias-disable;
			drive-strength = <16>;
		};
	};

	uart13_state: uart13-state {
		cts-pins {
			pins = "gpio43";
			function = "qup13";
			bias-pull-down;
		};

		rts-tx-pins {
			pins = "gpio44", "gpio45";
			function = "qup13";
			drive-strength = <2>;
			bias-disable;
		};

		rx-pins {
			pins = "gpio46";
			function = "qup13";
			bias-pull-up;
		};
	};
};
